<p>
  <em>“Comparison is the thief of joy.” ― Theodore Roosevelt</em><br>
  <br>
  <strong>Current Obsessions:</strong> FNAF (Mostly)<br><br>
  <strong>Name:</strong> Eli Lobo<br>
  <strong>Relationship Status:</strong> Taken&nbsp;♡<br>
  <strong>Pronouns:</strong> They/Them<br>
  <strong>Orientation:</strong> Monogamous, Mostly Feminine, Non-binary, Bisexual (Prefers 🍆)<br>
  <strong>Occupation:</strong> Web Development and Design<br>
  <strong>Hobbies &amp; Interests:</strong> Foreign Languages, Drawing, Collecting Cute Bags and Plushies, True Crime (Especially Serial and Mass Killers), Psychology, Playing Video Games, Watching Anime, Listening to Music, Furries, and Animals (including Bugs)<br>
  <strong>Favorite TV, Movie, &amp; Book Genres:</strong> Horror, Thriller, Crime, Dystopia, Mystery, Satire, Black Comedy<br>
  <strong>Favorite Animals:</strong> Birds, Frogs, Canines, Moles, Shrews, Mice<br>
  <strong>Fursona(s):</strong> Wolf/Bunny Hybrid<br>
  <strong>Fluent Languages:</strong> English, Spanish<br>
  <strong>Studying Languages:</strong> German, French, Italian<br>
  <strong>Beliefs:</strong> Atheist<br>
  <strong>Personality Types:</strong> CS RLOxI 6w5 649<br>
  <strong>Favorite Bands &amp; Musicians:</strong> Nine Inch Nails, Radiohead, Mindless Self Indulgence, Rammstein, China&nbsp;Crisis, Windows&nbsp;96, Jack Stauber, VAST, System of a Down, KMFDM, Aphex Twin, Smashing Pumpkins, Phil Collins
</p>
