<p>
  <em>“Comparison is the thief of joy.” ― Theodore Roosevelt</em><br>
  <br>
  <strong>Pronouns:</strong> They/Them and She/Her<br>
  <strong>Relationship Status:</strong> Taken&nbsp;♡<br>
  <strong>Orientation:</strong> Monogamous, either Enbitor or Viramoric<br>
  <strong>Occupation:</strong> Web Development and Design<br>
  <strong>Hobbies &amp; Interests:</strong> Digital Art, Foreign Languages, Playing Video Games, Watching Anime and Movies, Reading Books, Collecting Beanie Babies and Cute Bags, Listening to Music, Learning About True Crime (Mass Murder), Mental Health, Animals, and Bugs<br>
  <strong>Favorite Animals:</strong> Birds, Frogs, Canines, Moles, Shrews, Mice<br>
  <strong>Fluent Languages:</strong> English, Spanish<br>
  <strong>Studying Languages:</strong> German, French, Italian<br>
  <strong>Beliefs:</strong> Areligious Atheist<br>
  <strong>Favorite Bands &amp; Musicians:</strong> Nine Inch Nails, Radiohead, Mindless Self Indulgence, Rammstein, China&nbsp;Crisis, Windows&nbsp;96, VAST, System of a Down, KMFDM, Aphex Twin, Smashing Pumpkins, Phil Collins (Listen to the playlist, I tried to not include any sad songs)
</p>
