<div class="rainbow">
         <div style="height:3px;width:100%;background:#078D70;"></div>
         <div style="height:3px;width:100%;background:#26CEAA;"></div>
         <div style="height:3px;width:100%;background:#98E8C1;"></div>
         <div style="height:3px;width:100%;background:#ffffff;"></div>
         <div style="height:3px;width:100%;background:#7BADE2;"></div>
         <div style="height:3px;width:100%;background:#5049CC;"></div>
         <div style="height:3px;width:100%;background:#3D1A78;"></div>
</div>
