<div style="margin-top:10px;">
<p style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;" uk-scrollspy="cls:uk-animation-fade;"><script type="text/javascript" src="//counter.websiteout.com/js/24/0/0/0"></script> Hits</p>

<p style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;font-size:14px;margin-bottom:-20px;padding-bottom:20px;">©&nbsp;{{ site.time | date: '%Y' }} Eli Lobo</p>

<p style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;font-size:14px;margin-bottom:0px;padding-bottom:20px;" class="hide-on-mobile" uk-scrollspy="cls:uk-animation-slide-bottom;"><a onclick='window.scrollTo({top: 0, behavior: "smooth"});' style="font-size:14px;">Back to Top &nbsp;<i class="fas fa-arrow-up"></i></a></p>

</div>
