<div style="margin-top:10px;">
<p style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;"><script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=ad1222bc60374ba88e7a06cb552f0db4f8de3f3b'></script>
<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1175377/t/10"></script></p>

<p style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;font-size:14px;margin-bottom:20px;">©&nbsp;{{ site.time | date: '%Y' }} feliz</p>

<p style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;font-size:14px;" class="hide-on-mobile"><a onclick='window.scrollTo({top: 0, behavior: "smooth"});' style="font-size:14px;">Back to Top &nbsp;<i class="fas fa-arrow-up"></i></a></p>

</div>
