<a href="/art" target="_blank" class="link" title="My Drawings. Updated slowly.">Drawings</a>
<!--<a href="/pics" class="link">Pics</a>-->
<a href="https://www.reddit.com/u/eli-lobo" class="link" target="_blank" title="I'm quite active.">Reddit</a>
<!--<a href="https://www.furaffinity.net/user/elilobo" class="link" target="_blank" title="I barely use this site right now.">FurAffinity (NSFW)</a>-->
<a href="https://myanimelist.net/profile/elilobo" class="link" target="_blank" title="I've watched a lot of anime.">MyAnimeList</a>
<a href="https://letterboxd.com/elilobo/" class="link" target="_blank" title="I've watched a lot of movies.">Letterboxd</a>
<a href="https://www.goodreads.com/user/show/151410283" class="link" target="_blank" title="I haven't read enough books.">Goodreads</a>
<a href="https://steamcommunity.com/id/elilobo" class="link" target="_blank" title="I need to play games again.">Steam</a>
<a href="https://www.duolingo.com/profile/eli-lobo" class="link" target="_blank" title="I need to use this website more.">Duolingo</a>
<a href="https://www.youtube.com/@eli-lobo" class="link" target="_blank" title="I don't have any videos lol This is just playlists.">YouTube</a>
<!--<a href="https://youtube.com/playlist?list=PLFYJQTY_3J7rnJKOt55sz7o7U8N0VnHAn" class="link" target="_blank">Music&nbsp;Playlist</a>-->
<a href="https://www.pinterest.com/elil0b0/" class="link" target="_blank" title="I like hoarding art.">Pinterest</a>
<!--<a href="https://open.spotify.com/user/31xezqay72khqaa2awc3cm7rgr2a" class="link" target="_blank" title="Garbage service">Spotify</a>-->
<!--<a href="https://tumblr.com/eli-lobo" class="link" target="_blank" title="I don't even use this website.">Tumblr</a>-->
<!--<a href="https://www.personality-database.com/user/2759021" class="link" target="_blank" title="I hate this website.">PDB</a>-->
<!--<a href="mailto:eli@elilobo.com" class="link" target="_blank" title="Blah">Email</a>-->
