<a href="https://reddit.com/u/eli-lobo" class="link" rel="noopener noreferrer" target="_blank" title="I'm quite active on here.">Reddit</a>
<a onclick="window.open('https://liebelobo.github.io/art/', 
                         'newtab'); 
              return false;" target="_blank" rel="noopener noreferrer" class="link" title="My Drawings. Updated very slowly. I only draw when I'm struck violently by inspiration, otherwise I don't feel motivated enough.">Drawings</a>
<a href="https://myanimelist.net/profile/liebelobo" rel="noopener noreferrer" class="link" target="_blank" title="I've watched a lot of anime.">MyAnimeList</a>
<a href="https://letterboxd.com/liebelobo" rel="noopener noreferrer" class="link" target="_blank" title="I've watched a lot of movies.">Letterboxd</a>
<a href="https://www.goodreads.com/user/show/151410283" rel="noopener noreferrer" class="link" target="_blank" title="I haven't read enough books.">Goodreads</a>
<a href="https://steamcommunity.com/profiles/76561198041114915" rel="noopener noreferrer" class="link" target="_blank" title="I need to play games again.">Steam</a>
<a href="https://www.youtube.com/channel/UC6cj-1hG-Jd1-A4ehs7XGrw" rel="noopener noreferrer" class="link" target="_blank" title="I don't have any videos lol This is just playlists. I might make videos again someday, who knows.">YouTube</a>
<a href="https://www.pinterest.com/liebelobo" rel="noopener noreferrer" class="link" target="_blank" title="Awesome art I've saved.">Pinterest</a>
<a href="http://liebelobo.tumblr.com" class="link" rel="noopener noreferrer" target="_blank" title="Good for fandom stuff. I also say random shit on here.">Tumblr</a>
<!--<a href="https://www.personality-database.com/profile/1683262" class="link" rel="noopener noreferrer" target="_blank" title="I barely use this site.">PDB</a>-->
<a href="https://open.spotify.com/user/31xezqay72khqaa2awc3cm7rgr2a?si=1ed5e72bb6054801" class="link" rel="noopener noreferrer" target="_blank" title="I love music.">Spotify</a>
<!--<a href="https://en.pronouns.page/@liebelobo" class="link" rel="noopener noreferrer" target="_blank" title="Derp">Pronouns</a>-->
<!--<a href="https://furaffinity.net/user/elilobo" class="link" rel="noopener noreferrer" target="_blank" title="I barely use this site.">Furaffinity</a>-->
