<a href="/art" class="link">Art</a>
<a href="/pics" class="link">Pics</a>
<a href="https://www.reddit.com/u/eli-lobo" class="link" target="_blank">Reddit (NSFW)</a>
<a href="https://www.furaffinity.net/user/elilobo" class="link" target="_blank">FurAffinity (NSFW)</a>
<a href="https://myanimelist.net/profile/elilobo" class="link" target="_blank">My&nbsp;Anime&nbsp;List</a>
<a href="https://www.imdb.com/user/ur93620872" class="link" target="_blank">IMDb</a>
<a href="https://www.goodreads.com/user/show/151410283" class="link" target="_blank">Goodreads</a>
<a href="https://steamcommunity.com/id/elilobo" class="link" target="_blank">Steam</a>
<a href="https://www.duolingo.com/profile/elil0b0" class="link" target="_blank">Duolingo</a>
<!--<a href="https://www.youtube.com/@eli-lobo" class="link" target="_blank">YouTube</a>-->
<a href="https://www.pinterest.com/elil0b0/" class="link" target="_blank">Pinterest</a>
<a href="https://www.personality-database.com/user/2759021" class="link" target="_blank">PDB</a>
<a href="mailto:eli@elilobo.com" class="link" target="_blank">Email</a>
